{% extends "base.html" %}
{% block content %}
<h1>Absolute Value Equations</h1>
<h3>Determine the transformed equations of absolute value functions.</h3>
<br><br>
<h3>Choose a level to begin:</h3>
<br>
<p> 
    <h3><a href="/absolute_valueintro/1">Level 1:  (y = |x| + k)</a></h3>
    <h3><a href="/absolute_valueintro/2">Level 2:  (y = |x - h|)</a></h3>
    <h3><a href="/absolute_valueintro/3">Level 2:  (y = |x - h| + k)</a></h3>
    <h3><a href="/absolute_valueintro/4">Level 3:  (y = +m|x|)</a></h3>
    <h3><a href="/absolute_valueintro/5">Level 4:  (y = -m|x|)</a></h3>
    <h3><a href="/absolute_valueintro/6">Level 5:  (y = m|x - h| + k)</a></h3>
    

</p>

  
{% endblock %}