{% extends "base.html" %}
{% block content %}
<h1>Quadratic Equations</h1>
<h3>Determine the transformed equations of quadratic functions.</h3>
<br><br>
<h3>Choose a level to begin:</h3>
<br>
<p> 
    <h3><a href="/quadraticintro/1">Level 1:  (y = x<sup>2</sup> + k)</a></h3>
    <h3><a href="/quadraticintro/2">Level 2:  (y = (x - h)<sup>2</sup>)</a></h3>
    <h3><a href="/quadraticintro/3">Level 2:  (y = (x - h)<sup>2</sup> + k)</a></h3>
    <h3><a href="/quadraticintro/4">Level 3:  (y = +mx<sup>2</sup>)</a></h3>
    <h3><a href="/quadraticintro/5">Level 4:  (y = -mx<sup>2</sup>)</a></h3>
    <h3><a href="/quadraticintro/6">Level 5:  (y = m(x - h)<sup>2</sup> + k)</a></h3>
    

</p>

  
{% endblock %}